.one{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.one button{
    height: 3rem;
    width: 3rem;
    background-color: black;
    border: solid;
    border-color: rgb(187, 187, 187);
    border-width: 0.7px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.onex button{
    height: 3rem;
    width: 3rem;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.col0,
.col1,
.col2,
.col3,
.col4,
.col5{
    width: 18rem;
    height: 3rem;
}

.col0{
    display: flex;
    justify-content: flex-end;
}

.one .col1 .but1{
    background-color: rgb(204, 0, 0);
}

.one .col1 .but2{
    background-color: rgb(199, 199, 199);
}

.one .col1 .but3{
    background-color: rgb(199, 199, 199);
}
.one .col1 .but4{
    background-color: rgb(199, 199, 199);
}

.one .col1 .but5{
    background-color: rgb(204, 0, 0);
}

/*col2*/

.one .col2 .but6{
    background-color: rgb(199, 199, 199);
}

.one .col2 .but7{
    background-color: rgb(199, 199, 199);
}

.one .col2 .but8{
    background-color: rgb(199, 199, 199);
}
.one .col2 .but9{
    background-color: rgb(199, 199, 199);
}

.one .col2 .but10{
    background-color: rgb(204, 0, 0);
}

/*col3*/


.one .col3 .but11{
    background-color: rgb(199, 199, 199);
}

.one .col3 .but12{
    background-color: rgb(199, 199, 199);
}

.one .col3 .but13{
    background-color: rgb(199, 199, 199);
}
.one .col3 .but14{
    background-color: rgb(199, 199, 199);
}

.one .col3 .but15{
    background-color: rgb(204, 0,  0 );
}

/*col4*/

.one .col4 .but16{
    background-color: rgb(204, 0, 0);
}

.one .col4 .but17{
    background-color: rgb(199, 199, 199);
}

.one .col4 .but18{
    background-color: rgb(199, 199, 199);
}
.one .col4 .but19{
    background-color: rgb(199, 199, 199);
}

.one .col4 .but20{
    background-color: rgb(199, 199, 199);
}

/*col5*/

.one .col5 .but21{
    background-color: rgb(199, 199, 199);
}

.one .col5 .but22{
    background-color: rgb(199, 199, 199);
}

.one .col5 .but23{
    background-color: rgb(199, 199, 199);
}
.one .col5 .but24{
    background-color: rgb(199, 199, 199);
}

.one .col5 .but25{
    background-color: rgb(199, 199, 199);
}

.health{
    width: 15rem;
    height: 3rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alertmessage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.congra{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.numberone,
.numbertwo,
.numberthree,
.numberfour,
.numberfive{
    color: aliceblue;
    position: relative;
    top: -16px;
}

.numberzeroone,
.numberzerotwo,
.numberzerothree,
.numberzerofour,
.numberzerofive{
    color: aliceblue;

}


















.onex .col1 .but1x{
    background-color: #23a6ff;
}

.onex .col1 .but2x{
    background-color: #774218;
}

.onex .col1 .but3x{
    background-color: #774218;
}
.onex .col1 .but4x{
    background-color: #774218;
}

.onex .col1 .but5x{
    background-color: #23a6ff;
}

/*col2*/

.onex .col2 .but6x{
    background-color: #f6b853;
}

.onex .col2 .but7x{
    background-color: #f6b853;
}

.onex .col2 .but8x{
    background-color: #f6b853;
}
.onex .col2 .but9x{
    background-color: #774218;
}

.onex .col2 .but10x{
    background-color: #23a6ff;
}

/*col3*/


.onex .col3 .but11x{
    background-color: #f6b853;
}

.onex .col3 .but12x{
    background-color: #f6b853;
}

.onex .col3 .but13x{
    background-color: #f6b853;
}
.onex .col3 .but14x{
    background-color: #774218;
}

.onex .col3 .but15x{
    background-color: #23a6ff;
}

/*col4*/

.onex .col4 .but16x{
    background-color: #23a6ff;
}

.onex .col4 .but17x{
    background-color: #633714;
}

.onex .col4 .but18x{
    background-color: #633714;
}
.onex .col4 .but19x{
    background-color: #774218;
}

.onex .col4 .but20x{
    background-color: #f6b853;
}

/*col5*/

.onex .col5 .but21x{
    background-color: #f6b853;
}

.onex .col5 .but22x{
    background-color: #633714;
}

.onex .col5 .but23x{
    background-color: #f6b853;
}
.onex .col5 .but24x{
    background-color: #f6b853;
}

.onex .col5 .but25x{
    background-color: #f6b853;
}

